/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#impactArea {
	font-size: 1em;
	font-family: "Garamond", serif;
	
	}
#title{
	font-size: 1.125em;
	font-family: "Garamond", serif;
}
#cgiLogo{

}
#logo{
	position: absolute;
	margin-top: 3px;

}
.navbar{
	background-color: #d9d9d9;

}

.category{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.quote {
	border-style: dashed;
	background-color: gray;
	min-height: 150px;
}

.prompts{
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: black;
}
.promptSection{
	border-bottom: solid 2px black;
	
}
.box {
	width: 50px;
}

