// Place all the styles related to the impact_guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.quote {
	border-style: dashed;
	background-color: gray;
}

.prompt{
	border-right: solid 2px black;
}
.promptSection{
	border-bottom: solid 2px black;
}